<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/rend.css">
	</head>
	<body>
		<div id="wrapper">
			<div id="banner">
				<span><img src="../resources/iconfinal.png"></span>
				<a href="#" class="classname">Get the App!</a>
				<h1>Rendezvous</h1>
			</div>
			<div id="tagline">
				
			</div>
			<div>
				<video data-999="control="autoplay"" id="vid"> 
				<source src="../resources/videoplayback.mp4">
				</video>
			</div>
			<div>
				
			</div>
		</div>
		<script type="text/javascript" src="../skrollr/skollr.min.js"></script>
		<script type="text/javascript">
	    var s = skrollr.init();
	    </script>
	</body>
</html> 